/* 公用样式 */
	* {padding: 0px;margin: 0px; text-decoration: none;}
	li {list-style: none;}
 
	/* 头部 */
	.top {
		background: #F7F7F7;
		height: 22px;
	}
 
	.content {
		width: 1000px;
		height: 22px;
		margin: auto;
		font-size: 12px;
		color: #878075;
	}
 
	.content-left {
		float: left;
	}
 
	.content-left>li {
		float: left;
		height: 22px;
		line-height: 22px;
		padding: 0px 10px;
	}
 
	.content-right {
		float: right;
	}
 
	.content-right>li {
		height: 22px;
		line-height: 22px;
		float: left;
 
	}
 
	.content-right>li>span {
		padding: 0px 10px;
	}
	.content-right>li>select {
		 font-size: 12px;
		appearance: none;
		border: none;
		color: #878075;
		 background-color: #F7F7F7 ;
		
	}
	.content-right>li>select>option {
		font-size: 12px;
		color: #878075; 
		border-style:hidden;
		
	}
 
	/* 导航 */
	.nav {
		border-bottom: 4px solid #D2D2D2;
		height: 70px;
	}
 
	.nav-top {
		width: 1000px;
		height: 70px;
		margin: auto;
	}
 
	.nav-top>.logo {
		float: left;
		width: 158px;
		height: 70px;
		background: url(../img/logo.jpg)no-repeat 0px 8px;
	}
 
	.nav-top>.nav-left {
		float: left;
	}
 
	.nav-top>.nav-left>li {
		height: 70px;
		line-height: 70px;
		float: left;
		padding: 0px 48px;
		color: #997F73;
		font-size: 14px;
	}
 
	.nav-top>.nav-left>li:hover {
		border-bottom: 4px solid #FF7600;
	}
 
	/* 中间图片 */
	.banner {
		text-align: center;
	}
 
	/* 日期 */
	.guild>table {
		background: #FFF8F2;
		width: 1000px;
		margin: auto;
		margin-top: 26px;
		border-collapse: collapse;
	}
 
	.guild>table td {
		height: 72px;
		text-align: center;
		border: 1px solid #FFC393;
	}
 
	/* 出发时间表 */
	.status {
		width: 1000px;
		margin: 20px auto;
	}
 
	.status table {
		width: 1000px;
		height: 456px;
		border-collapse: collapse;
		text-align: center;
		font-size: 14px;
	}
 
	.status .msg-s {
		display: inline-block;
		width: 22px;
		background: #FF7200;
	}
 
	.status .msg-z {
		display: inline-block;
		width: 22px;
		background: #0065FF;
	}
 
	.status .sj {
		font-size: 26px;
		color: #FF7E33;
	}
 
	.status .qian {
		font-size: 26px;
		color: #FF7E33;
	}
 
	.status .gop {
		width: 150px;
		height: 42px;
		background: #FF7E33;
		border: none;
		color: white;
 
	}
 
	.status table tr:nth-child(1) {
		/* width: 1000px; */
		height: 30px;
		background: #F8F8F8;
	}
 
	.status table tr:nth-child(2n) {
		background-color: #FFE8C8;
	}
 
	.status table tr:nth-child(3) {
		background-color: #FFF5E6;
	}
 
	.status table tr:nth-child(5) {
		background-color: #FFF5E6;
	}
 
	/* 页尾*/
	.footer {
		height: 80px;
		background: url(../img/footer_bg.png)repeat-x;
		line-height: 80px;
	}
 
	.footer p {
		margin: 0px auto;
		width: 1000px;
		text-align: center;
	}