@charset "utf-8";


body{font-family:"微软雅黑"; font-size:12px; color:#FFF;}
@font-face{
	font-family:dn;      
	src:url(dqc.ttf); 
}

body,p,ul,li,h4,img{margin:0; padding:0; border:0; list-style:none;}
.bg_banner{
	width:100%;
	background:#00214d;
}
.banner{
	width:1000px;
	height:285px;
	margin:13px auto 15px auto;
	
	height: inherit;
	overflow:hidden;                     
}
.left{
	width:755px;
	height:285px;
	font-weight:bold;
	background:url(pic.gif);
	position:relative;                 
	float:left;
}
.content_left{
	position:absolute;                 
	top:75px;
	right:45px;
	text-align:right;                  
}
.school_en{
	font-size:14px;                    
}
.school_ch{
	font-size:36px;
	font-family:dn;                   
	border-right:5px solid #F90;
	padding-right:10px;
}
.advertise{
	margin-top:20px;
	font-size:16px;
}
ul.style_a{
	margin-top:25px;
	margin-left:120px;
	list-style:none;
	overflow:hidden;                   
}
ul.style_a li{
	float:left;                         
	margin-left:10px;
}
ul.style_a li a{                        
	background:#FFF;
	width:46px;
	height:3px;
	text-align:center;
	line-height:22px;
	display:block;                      
	font-size:18px;
	opacity:0.3;
}
ul.style_a li.current a{opacity:0.8;}             

.right{
	width:245px;
	height:285px;
	background:rgba(255,255,255,0.2);
	float:right;
	position:relative;              
}
.content_right{
	position:absolute;              
	top:50px;
	left:30px;
}
ul.style_icon{
	margin-top:10px;
}
ul.style_icon li{
	float:left;                     
	margin-right:12px;
}
.cl{                                  
	margin-top:55px;
	margin-right:30px;
	line-height:24px;
}
