.box {
    min-width: 600px;
    width: 100%;
    height: 100%;
    position: fixed;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.register {
    z-index: 999;
    width: 550px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -265px;
}

.register .register-head {
    width: 100%;
    height: 50px;
    display: flex;
}

.register .register-head a {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333333;
    font-size: 20px;
    ;
    font-weight: 500;
}

.register .register-head a:hover {
    color: #FF6767;
    text-decoration: underline;
}

.register .register-head .a2 {
    color: azure;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.register .register-head .a1 {
    border-top-left-radius: 10px;
    background-color: rgba(233, 230, 217, 0);
}

.reg-txt {
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(233, 230, 217, 0);
    display: flex;
}

.reg-txt .txt-1 {
    margin-top: 20px;
    width: 60%;
    height: 150px;
    padding: 0 20px;
    border-right: 1px solid #999999;
}

.reg-txt .txt-1 span {
    display: block;
    text-align: center;
    font-size: 14px;
}

.reg-txt .txt-1 .meth {
    margin-top: 30px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
}

.reg-txt .txt-1 .meth .a1 {
    font-size: 20px;
    color: #0E97E1;
}

.reg-txt .txt-1 .meth .a2 {
    font-size: 20px;
    color: #00C500;
}

.reg-txt .txt-1 .meth .a3 {
    font-size: 20px;
    color: #E74B39;
}

.reg-txt .txt-1 .meth-txt {
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
}

.reg-txt .txt-2 {
    margin: 20px;
    width: 40%;
    height: 150px;
}

.reg-txt .txt-2 .pic {
    width: 109px;
    height: 109px;
    margin: 0 auto;
}

.reg-txt .txt-2 .pic img {
    width: 100%;
}

.reg-txt .txt-2 span {
    display: block;
    margin: 10px auto;
    font-size: 14px;
    text-align: center;
}