* {
    margin: 0;
    padding: 0;
}
 
.toubu {
    height: 627px;
    width: 980px;
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
}
 
.nav {
    height: 100px;
    width: 981px;
    margin-top: 20px;
    background: url(../images/nav.jpg) no-repeat;
    margin: 0 auto;
}
 
 
.toubu .nav h4 {
    font-weight: 400;
    display: inline-block;
    padding-top: 40px;
}
 
.toubu .nav .h4_1 {
    padding-left: 150px;
}
 
.toubu .nav .h4_2 {
    padding-left: 60px;
}
 
.toubu .nav .h4_3 {
    padding-left: 300px;
}
 
.toubu .nav .h4_4 {
    padding-left: 60px;
 
}
 

.dongtai {
    height: 88px;
    width: 980px;
    margin: 0 auto;
}
 

.pinglun {
    width: 980px;
    height: 140px;
    margin: 0 auto;
 
}
 
.pinglun img {
    display: inline-block;
}
 
.pinglunwenzi {
    height: 93px;
    width: 980px;
    margin: 0 auto;
 
}
 
.pinglunwenzi ul li {
    float: left;
    
    list-style: none;
    height: 93px;
    width: 294px;
    margin-left: 25px;
}
 
.pinglunwenzi ul .top {
    margin-left: 0px;
}
 
.pinglunwenzi ul li h4 {
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    text-indent: 1em;
    border-bottom: solid 1px #e2e2e2;
}
 
.pinglunwenzi ul li p {
    margin-top: 6px;
    color: rgb(191, 188, 186);
    font-size: 12px;
    margin-left: 14px;
}
 

.yinying {
    width: 980px;
    height: 30px;
    margin: 0 auto;
}
 

.yangpian {
    
    width: 980px;
    height: 442px;
    margin: 20px auto;
    background-image: url(../images/xinshang.jpg);
 
}
 

.yangpian ul li {
    width: 156px;
    height: 237px;
    float: left;
    list-style: none;
    margin-left: 50px;
    margin-top: 170px;
    background-color: pink;
}
 
.yangpian ul .zhaopian1 {
    margin-left: 100px;
    background-image: url(../images/img1.jpg);
}
 
 
.yangpian ul .zhaopian2 {
    background-image: url(../images/img2.jpg);
}
 
.yangpian ul .zhaopian3 {
 
 
    background-image: url(../images/img3.jpg);
}
 
.yangpian ul .zhaopian4 {
 
    background-image: url(../images/img4.jpg);
 
}
 
.footer {
    height: 80px;
    background-image: url(../images/footer_bg.jpg);
}
 
.footer p {
    text-align: center;
    line-height: 80px;
    color: #fef0d9;
}
 
.welcome {
    position: fixed;
    right: 55px;
    bottom: 80px;
    width: 220px;
}