/*页面头部*/
.header {
    margin-top: 10px;
    min-width: 768px;
    width: 60%;
    margin: 0 auto;
    height: 100px;
}



/*导航条*/
.nav-box {
    min-width: 768px;
    width: 60%;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-box .nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid #FF5E52;
}

.nav-box .nav .nav_item {
    flex-grow: 1;
    max-width: 150px;
    position: relative;
}

.nav-box .nav .nav_item::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(228, 227, 225, 0);
    ;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .5s;
}

.nav-box .nav .nav_item:hover::after {
    left: 0;
    width: 100%;
}

.nav-box .nav a {
    font-weight: 600;
    font-size: 18px;
    font-family: "幼圆";
    color: #333;
    transition: all .3s;
}

.nav-box .nav a:hover {
    color: rgba(228, 227, 225, 0);
}


/*页面主题*/
.main {
    height: 1900px;
    min-width: 768px;
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.main .left {
    width: 68%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 240px;
}

.swiper-wrapper {
    /* 通过改变animation-timing-function 制作弹性切换效果 */
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.swiper-slide {
    background: #eeeeee;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main .left .pic {
    width: 50%;
    height: 100%;
}

.main .left .pic img {
    width: 100%;
}

.main .left .txt {
    width: 50%;
    height: 100%;
}

.main .left .txt h3 {
    text-align: center;
    margin-top: 20px;
    color: #333333;
}

.main .left .txt .user {
    margin-top: 50px;
    display: flex;
    padding: 0 30px;
}

.main .left .txt .user .user-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
}

.main .left .txt .user img {
    width: 100%;
}

.main .left .txt .user p {
    margin: 0 10px;
    line-height: 28px;
    color: #999999;
    font-size: 15px;
}

.main .left .txt span {
    display: inline-block;
    margin-top: 20px;
    padding: 0 30px;
    font-size: 14px;
    color: #333333;
}

.main .left .head-hot {
    height: 30px;
    margin: 20px 0 10px 0px;
    padding-left: 20px;
    border-bottom: 1px solid #B5B5B5;
    position: relative;
}

.main .left .head-hot h3 {
    height: 30px;
    display: inline-block;
    border-bottom: 3px solid #FF6767;
}

.main .left .head-hot .txt {
    width: 300px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.main .left .head-hot .txt a {
    color: #272626;
    font-size: 16px;
}

.main .left .head-hot .txt a:hover {
    color: #FF6767;
    font-weight: 600;
}

.main .left .hot .hot-item {
    height: 220px;
}

.main .left .hot .hot-item .item-user {
    margin-top: 10px;
    display: flex;
}

.main .left .hot .hot-item .item-user .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.main .left .hot .hot-item .item-user img {
    width: 100%;
}

.main .left .hot .hot-item .item-user p {
    margin: 0 10px;
    line-height: 40px;
    color: #333333;
    font-size: 13px;
}

.main .left .hot .hot-item .item-content {
    height: 180px;
    padding: 5px 40px;
}

.main .left .hot .hot-item .item-content p {
    color: #666666;
    cursor: pointer;
    font-size: 16px;
}

.main .left .hot .hot-item .item-content p:hover {
    text-decoration: underline;
}

.main .left .hot .hot-item .item-content .imgs {
    margin: 5px 0;
    height: 100px;
}

.main .left .hot .hot-item .item-content img {
    width: 100px;
}

.main .left .hot .hot-item .item-content span {
    font-size: 13px;
    color: #666666;
}

/* 右侧 */
.main .right {
    width: 30%;
    height: 100%;
}

/* 活动 */
.main .right .hd {
    height: 320px;
}

.main .right .hd-head {
    height: 30px;
    border-bottom: 1px solid #B5B5B5;
}

.main .right .hd h3 {
    height: 30px;
    display: inline-block;
    border-bottom: 3px solid #FF6767;
}

.main .right .hd a {
    width: 100%;
    margin: 10px 0;
    height: 270px;
}

.main .right .hd img {
    width: 100%;
}

/* 抽奖 */
.main .right .cj {
    height: 500px;
}

.main .right .cj-head {
    height: 30px;
    border-bottom: 1px solid #B5B5B5;
}

.main .right .cj h3 {
    height: 30px;
    display: inline-block;
    border-bottom: 3px solid #FF6767;
}

.main .right .cj .cj-item {
    height: 100px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main .right .cj .cj-item .item-pic {
    width: 60px;
    height: 60px;
    background-color: #eeeeee;
}

.main .right .cj .cj-item img {
    width: 100%;
}

.main .right .cj .cj-item .item-txt {
    width: 200px;
    height: 60px;
}

.main .right .cj .cj-item .item-txt a {
    height: 34px;
    color: #333333;
    font-size: 13px;
}

.main .right .cj .cj-item .item-txt a:hover {
    color: #FF6767;
    text-decoration: underline;
}

.main .right .cj .cj-item .item-txt span {
    font-size: 12px;
    color: #999999;
}

.main .right .cj .cj-item button {
    padding: 2px 10px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #FF838B;
    border-radius: 10px;
    color: #FF838B;
    outline: none;
    cursor: pointer;
}

.main .right .cj .cj-item button:hover {
    color: #FFFFFF;
    background-color: #FF5E52;
}

.main .right .picture {
    width: 100%;

}

.main .right .picture img {
    width: 100%;
}



/*页面底部*/
.footer {
    min-width: 768px;
    width: 60%;
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eeeeee;
}

.footer .footer-txt {
    width: 50%;
}

.footer .footer-txt .txt1 {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.footer .footer-txt .txt1 a {
    font-size: 14px;
    color: #666666;
}

.footer .footer-txt .txt1 a:hover {
    color: #FF6767;
    font-weight: 600;
    text-decoration: underline;
}

.footer .footer-txt .txt2 {
    margin: 30px 0 20px 0;
    font-size: 14px;
    color: #666666;
}

.footer .footer-pic {
    width: 25%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer .footer-pic img {
    width: 90px;
    height: 90px;
}

.footer .footer-pic .pic-a {
    width: 90px;
}

.footer .footer-pic .pic-b {
    width: 90px;
}

.footer .footer-pic span {
    color: #666666;
    font-size: 15px;
    display: block;
    text-align: center;
}

.button {
    width: 60px;
    height: 60px;
    position: fixed;
    background-color: #EBEBEB;
    right: 200px;
    bottom: 20px;
    border-radius: 50%;
}

.button a {
    width: 100%;
    height: 100%;
}

.button img {
    position: relative;
    bottom: 35px;
    right: 12px;
}

.button:hover {
    opacity: .8;
}

@media only screen and (max-width: 1400px) {
    .button {
        right: 80px;
    }
}

@media only screen and (max-width : 1257px) {
    .button {
        right: 10px;
    }
}